*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*O tamanho envolve a borda e padding*/
}

body {
    background-image: linear-gradient(to bottom ,#2F2152, black);
   background-color: black;


}
body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 160%;
}


header{
    padding: 32px;
    height: 152px;
}
header div {
   background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%); 
   width: 120px;
   border-radius: 50%;
   padding: 4px;
   margin: auto;
   display: flex;

   
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;

}

section h2{
    letter-spacing: -0.47px;
}
section p{
    color: rgb(157, 157, 157);
    letter-spacing: -0.18px;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    margin-top: 25px;

}

#games-lista img{
    width: 90px;
    border-radius: 8px;
}

#canais img{
    width: 90px;
    border-radius: 50%;
}



ul{
    list-style: none;
}

#redes-sociais > li:hover{
    cursor: pointer;

}

/**/
