
/*********************
Body
************************/

body{

    background: url(imagens/capa.png), url(imagens/ruido.png), linear-gradient(to bottom, #ff4169, #7c26f8);
    
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}
/**************
Barra de Navegação
*****************/

.nav-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: aquamarine;
}

.divisor{
    background-color: white;
    width: 1px;
    margin: 12px 15px;
}

.btn-sem-broda{
    border: none;
}


/*************
CARD: HOME
********************/


.btn-customizado{
    color: white;
    border-radius: 500px;
    padding: 10px 20px;
    -webkit-border-radius:500px;
	-moz-border-radius:500px;


    transition: background 0.4s, color 0.4s;


}

.btn-roxo{
    background: #7c26f8;
}

.btn-branco{
    border: 2px solid white;
}
.btn-branco:hover{
    background-color: white;
    

}



.capa{
    text-align: center;
}